.app {
  background-color: rgb(10, 10, 17);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 1rem;
  &__gif-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
